
#gameArea {
    background: url(../images/autumn.jpg);
    background-size: cover;
    height: 100%;

    z-index: 1;
}

#score {
    position: fixed; /* Posizione relativa alla finestra del browser */

    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); /* Per centrare */
    font-size: 120px;
    font-family: Impact;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; /* horizontal, vertical, color */

    z-index: 4;
}

#hand {
    position: fixed;

    width: 5vw;
    height: auto;
    top: 53%;
    left: 53%;
    animation: tapAnimation .4s infinite alternate;

    z-index: 3;
}
@keyframes tapAnimation {
    0% {
        top: 53%;
        left: 53%;
    }
    100% {
        top: 50%;
        left: 50%;
    }
}

#tipText {
    position: fixed;

    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    top: 65%;
    left: 50%;
    transform: translate(-50%, 0%); /* Per centrare */

    z-index: 3;
}

#gameOverDialog {
    position: fixed;
    visibility: collapse; /* Visibile al termine della partita */

    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column; /* Elementi accatastati dall'alto verso il basso */
    
    background: orangered;
    width: 60px;
    height: auto;

    /* Per centrare */
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -20px;

    transform-origin: center;
    text-align: center;
    border-radius: 3px;

    z-index: 5;
}
@keyframes scaleAnimation {
    0% {
        transform: scale3d(1,1,1);
    }
    100% {
        transform: scale3d(9,9,1);
    }
}

.best {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: -.05px 0 black, 0 .05px black, .05px 0 black, 0 -.05px black;
    font-size: 5px;
    height: auto;
}

#gameOver {
    font-family: Impact;
    text-shadow: -.1px 0 black, 0 .1px black, .1px 0 black, 0 -.1px black;
    font-size: 12px;
    height: auto;
}

#retry {
    width: 12px;
    height: 12px;
    padding: 1px;

    z-index: 3;
}

#bird {
    position: fixed;

    height: auto;
    width: 4.5vw;
    min-width: 55px;

    top: 45%;
    left: 38%;

    z-index: 3;

    /* background: deepskyblue; */
}

.movingproxy {
    position: absolute;
    
    display: grid;
    grid-template-rows: 33% 21% 46%;
    grid-template-columns: 8vw;

    margin-left: 70%; /* Posizione iniziale */
    height: 100%;

    z-index: 2;
}

.moving {
    position: absolute;
    
    display: grid;
    grid-template-rows: 33% 21% 46%;
    grid-template-columns: 8vw;

    margin-left: 100%; /* Posizione iniziale */
    height: 100%;

    z-index: 2;
}

.pipe {
    display: grid;
    grid-template-columns: 1fr;
}

.topPipe {
    grid-row: 1;
    grid-template-rows: 1fr 96px;
}

.hole {
    grid-row: 2;
}

.bottomPipe {
    grid-row: 3;
    grid-template-rows: 96px 1fr;
}

.pipeBodyDown {
    background: url(../images/pipeBodyDown.png);
    grid-row: 1;
}

.pipeHeadDown {
    background: url(../images/pipeHeadDown.png);
    grid-row: 2;
}

.pipeHeadUp {
    background: url(../images/pipeHeadUp.png);
    grid-row: 1;
}

.pipeBodyUp {
    background: url(../images/pipeBodyUp.png);
    grid-row: 2;
}

.subPipe {
    background-size: 100% 100%;
}
